body {
  background-image: linear-gradient(crimson, orange);
}

#introductie {
  text-align: center;
  padding-left: none;
  font-size: 20px;
  font-family: sans-serif, serif, Arial, Helvetica;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(51, 51, 51);
}

#vragen-lijst {
  width: 50%;
  height: 70%;

  text-align: left;
  padding-top: 2%;
  padding-left: 15%;

  font-size: 20px;
  font-family: sans-serif, serif, Arial, Helvetica;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(51, 51, 51);
}

textarea {
  max-width: 500px;    
  max-height: 200px;
  min-width: 500px;
  min-height: 100px;  
  } 

footer {
  text-align: center;
}

.rand {
  border-style: double;
  border-width: 4px;
  border-color: black;
  box-sizing: border-box;
  border-spacing: 5px;
  margin: auto;
  width: 50%;
}
